/Pratice1/nbproject/private/
/Pratice1/build/
/Project1/nbproject/private/
/pratices2/nbproject/private/
/pratices2/build/
/WebApplication2/nbproject/private/
/urlRewriting/nbproject/private/
/urlRewriting/build/
/urlwriting1/nbproject/private/
/urlwriting1/build/
/HiddenFormFeild/nbproject/private/
/HiddenFormFeild/build/
/HiddenFormFeild1/nbproject/private/
/HiddenFormFeild1/build/
/test/nbproject/private/
/test/build/
/jspPractices/nbproject/private/
/jspPractices/build/
/ErrorHandling/nbproject/private/
/ErrorHandling/build/
/Addmodule/nbproject/private/
/Addmodule/build/
/ErrorHandling_in_Jsp/build/
/ErrorHandling_in_Jsp/nbproject/private/
/Jsp_Redirecting/nbproject/private/
/jspImplicit/nbproject/private/
